fastapi
uvicorn[standard]
pymongo
pydantic
pydantic-settings
python-dotenv
python-multipart
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]
requests
google-genai
redis
google-auth
google-auth-oauthlib
google-auth-httplib2
httpx
email-validator
